@media only screen and (max-width:770px){
    #page{width:100%;margin:0 auto;} 
    #header-main{width: 100%;background:#FEFDFD;}
    #header-main #searchbox {width:120px;}
    #header-main .logo {width: 50%; max-width: 384px; min-width: 150px;}
    .header-info-right {margin-top: 0px;}
    .bnr-980x60{text-align:center;width:100%;margin:0 auto;}
    .nav-main{
        background: url("../images/nav-bg.gif") repeat-x scroll center top #F7F7F7;
        line-height: auto;
        width: 100%;
        border: 1px solid #C9C9C9;
    }
    .nav-main .expanded:hover a{text-decoration:none!important; color:#666666!important; background-color:#F8F8F8;} 
    .mainContent h1 {
        font-size: 26px;
        padding-bottom: 6px;
    }
    .mainContent table {
        word-break: break-all;
    }

    #home-leads{display:block; float: left; width:95%;margin: 3% 0 0 3%;} 
    #home-slider{display:block; float: left; width:95%;margin: 3% 3% 3% 3%;background:#ededed;min-height:auto;}
    #home-leatest-features{float:left; width:95%; margin: 3% 3% 3% 3%;font-size:0.9em;}
    #home-top-features{float:left;width:94%; margin: 3% 3% 3% 3%; padding:0 0px;font-size:0.9em;border-right: none;}
    #home-product-carousel h2{font-size:1.3em; padding:0 0 0 3%;}
    #home-product-carousel article{display:inline-block; float: left; width: 95%;font-size:0.7em;margin:15px 10px 0 0;}     
    #footer-bottom{width:100%;height:auto;overflow:hidden !important;}

    .slidesjs-navigation {
      /*margin-top: 0%!important;*/
      margin-left: 83.0%!important;
    }

    a.slidesjs-next {
      margin-left: 87.5%!important;
    }

    .degreefinderDiv{
        width: 100%; 
        margin-top: 0px;
    }

    .featured-slot {
        width: 95%;
        background-color: #F5F5F5;
        margin-bottom: 10px;
    }

    .articleWrapper{
        float: right; 
        width: 48%;
        margin: 12px 0px 12px 0px;    
    }

    .sponsoredWrapper{
        float: left; 
        width: 48%;
        margin: 12px 12px 12px 0px;
        background-color: #E5FFED;
    }

    .mainText{
        width: 100%;
        height: auto;
        float: left;
        font: 12px/1.45 verdana,Helvetica,Arial,clean,sans-serif;
        margin-right: 20px;
    }

    .mainList{
        margin-top: 10px;
        width: 100%;
        height: auto;
        float: left;
        margin-right: 15px;
    }

    .sponsoredWrapper{
        float: left; 
        width: 95%;
        margin: 12px 12px 12px 0px;
        padding: 15px 0px 15px 15px;
        background-color: #E5FFED;
    }

    .articleWrapper{
        float: left; 
        width: 100%;
        margin: 12px 0px 12px 0px;    
    }


    #home-product-carousel article {
        display: inline-block;
        float: left;
        font-size: 0.7em;
        margin: 15px 10px 0 0;
        width: 100%;
    }
    
    .new-top-left {
        float: none;
        width: 100%;
        padding: 10px 0;
        margin: 5px 0;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
    }

}
